In [4]:
import numpy as np
import pandas as pd
import seaborn as sns

In [14]:
df = pd.read_csv('modeling_plot/src/DSC106_NBA.csv')

In [15]:
df

,Year,Boston Celtics,New York Knicks,Golden State Warriors,Sacramento Kings,Los Angeles Lakers,Detroit Pistons,Philadelphia 76ers,Atlanta Hawks,Washington Wizards,...,Portland Trail Blazers,Utah Jazz,Dallas Mavericks,Miami Heat,Orlando Magic,Minnesota Timberwolves,Charlotte Hornets,Memphis Grizzlies,Toronto Raptors,New Orleans Pelicans
0,2022,117.9,116.0,118.9,120.7,117.2,110.3,115.2,118.4,113.2,...,113.4,117.1,114.2,109.5,111.4,115.8,111.0,116.9,112.9,114.4
1,2021,111.8,106.5,111.0,110.3,112.1,104.8,109.9,113.9,108.6,...,106.2,113.6,108.0,110.0,104.2,115.9,115.3,115.6,109.4,109.3
2,2020,112.6,107.0,113.7,113.7,109.5,106.6,113.6,113.7,116.6,...,116.1,116.4,112.4,108.1,104.0,112.1,109.5,113.3,111.3,114.6
3,2019,113.7,105.8,106.3,110.1,113.4,107.2,110.7,111.8,114.4,...,115.0,111.3,117.0,112.0,107.3,113.3,102.9,112.6,112.8,115.8
4,2018,112.4,104.6,117.7,114.2,111.8,107.0,115.2,113.3,114.0,...,114.7,111.7,108.9,105.7,107.3,112.5,110.7,103.5,114.4,115.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,1950,85.2,85.8,85.4,84.6,82.8,84.1,86.1,84.3,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
73,1949,79.7,80.7,73.3,82.4,84.1,79.3,84.8,83.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
74,1948,76.6,79.2,83.7,84.0,84.0,74.3,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75,1947,68.8,74.5,73.4,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
76,1946,60.1,64.7,68.6,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
years_avg = {}
for i in range(df.shape[0]):
    print(i)
    ppg = 0
    teams = 0
    for j in range(df.shape[1] - 1):
        if df.iloc[i][j + 1] > 20:
            ppg += df.iloc[i][j + 1]
            teams += 1
    years_avg[df.iloc[i][0]] = ppg/teams

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76

In [43]:
df[df['Year'] == 1950]

,Year,Boston Celtics,New York Knicks,Golden State Warriors,Sacramento Kings,Los Angeles Lakers,Detroit Pistons,Philadelphia 76ers,Atlanta Hawks,Washington Wizards,...,Portland Trail Blazers,Utah Jazz,Dallas Mavericks,Miami Heat,Orlando Magic,Minnesota Timberwolves,Charlotte Hornets,Memphis Grizzlies,Toronto Raptors,New Orleans Pelicans
72,1950,85.2,85.8,85.4,84.6,82.8,84.1,86.1,84.3,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [44]:
(85.2 + 85.8 + 85.4 + 84.6 + 82.8 + 84.1 + 86.1 + 84.3) / 8

84.7875